body {
    font-family: cursive ;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}