
body {
    font-family: cursive ;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}


table th {
    background-color: #003366;
    color: white;
}
 table img{
    width: 120px;
    height: 120px;

 }

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}