@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap");
/* Letras */
/* Colores */
/* Keyframes */
@keyframes intro {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes intro2 {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes intro3 {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideShow2 {
  0%, 45% {
    opacity: 1;
  }
  50%, 95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------------Header------------------- */
header {
  z-index: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  animation: intro 0.7s ease-in-out;
}
header .logo {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .logo img {
  width: 10rem;
}
header .nav-menu {
  padding: 20px;
  display: flex;
  align-items: center;
}
header .nav-menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}
header .nav-menu ul a {
  font-family: "Poppins";
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
header .nav-menu ul a:hover {
  color: #bfc0c0;
  transition: all 0.3s ease 0s;
}
header .user-container {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
header .user-container button {
  font-family: "Poppins";
  font-size: 13px;
  border-radius: 20px;
  padding: 10px;
  border: none;
  transition: all 0.3s ease 0s;
}
header .user-container button:hover {
  background-color: #dee2e6;
  color: #000;
  transition: all 0.3s ease 0s;
}
header .user-container .redes {
  padding: 10px;
}
header .user-container .redes ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .user-container .redes ul li a {
  color: #000;
  text-decoration: none;
}
header .user-container .redes ul li a i {
  color: #000;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}
header .user-container .redes ul li a i:hover {
  color: #bfc0c0;
  transition: all 0.3s ease 0s;
}

/* -----------Main------------------ */
main .carrusel {
  background-color: #000;
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  z-index: 2;
}
main .carrusel .img-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  top: 0;
  opacity: 0;
  animation: fade 12s infinite;
}
main .carrusel .carrusel1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://tecnyfarma.com/wp-content/uploads/2023/06/1_ANEMIREN_35-scaled.jpg");
  animation-delay: 0s;
}
main .carrusel .carrusel2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.inside-pharmacy.com/wp-content/uploads/2019/06/farmacias-modernas-madera-1024x682.jpg");
  animation-delay: 4s;
}
main .carrusel .carrusel3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/originals/6d/4a/61/6d4a61910c45a77a521f5788c96cdbf6.jpg");
  animation-delay: 8s;
}
main .carrusel .carrusel-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 1;
}
main .carrusel .carrusel-container h1 {
  font-family: "Bodoni Moda";
  font-size: 3rem;
  margin-bottom: 20px;
}
main .carrusel .carrusel-container p {
  font-size: 1.2rem;
  font-family: "Poppins";
  margin-bottom: 30px;
}
main .carrusel .carrusel-container .btn-explore {
  font-family: "Poppins";
  color: #fff;
  background: #000;
  border-radius: 10px;
  padding: 12px 25px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
  min-width: 30%;
  transition: all 0.4s ease;
}
main .carrusel .carrusel-container .btn-explore:hover {
  background: #fff;
  color: #000;
  border: #000 2px solid;
  transition: all 0.4s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
main .Nosotros-Container {
  padding: 50px;
}
main .Nosotros-Container h2 {
  font-family: "Bodoni Moda";
  font-size: 2rem;
  text-align: center;
}
main .Nosotros-Container p {
  font-family: "Poppins";
}
main .productos {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
main .productos .articulos,
main .productos .medicinas {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
main .productos .articulos h2,
main .productos .medicinas h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Bodoni Moda";
}
main .productos .articulos p,
main .productos .medicinas p {
  font-family: "Poppins";
  text-align: center;
  font-size: 16px;
}
main .productos .articulos img,
main .productos .medicinas img {
  z-index: 0;
  width: 400px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

/* ---Footer---------------- */
footer {
  border-top: 1px solid #000;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 20px;
  font-family: "Poppins";
  animation: intro2 0.7s ease-in-out;
}
footer .f-container {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer h6 {
  font-family: "Nova Cut";
  font-size: 20px;
  margin-bottom: 10px;
}
footer .lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer .lists li {
  list-style: none;
}
footer .lists li a {
  color: #000;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  transition: all 0.3s ease 0s;
}
footer .lists li a:hover {
  color: #bfc0c0;
  transition: all 0.3s ease 0s;
}
footer .footer-email {
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  font-family: "Poppins";
}
footer .footer-button {
  padding: 10px 20px;
  border-radius: 50px;
  font-family: "Poppins";
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
footer .footer-button:hover {
  background-color: #dee2e6;
  color: #000;
  transition: all 0.3s ease 0s;
}
footer .Social ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1.5rem;
}
footer .Social ul li {
  list-style: none;
}
footer .Social i {
  color: #000;
}

/* Responsive */
@media (max-width: 700px) {
  header .header-row {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .nav-menu ul {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 700px) {
  .img-articulo, .img-medicina {
    width: 98vw;
    max-width: 250px;
    height: 160px;
    min-height: 120px;
  }
}/*# sourceMappingURL=Home.css.map */