body{background-color:#d7dbdd;margin:50px;}
header{text-shadow: gray 20px 20px 25px; text-align: center;}
nav{font-size:35px; font-family:Rockwell;width:45%; margin-bottom:10px;text-align: center;}
a{text-decoration:none; background-color:#91fafa; box-shadow:#26c6da 5px 5px 5px;border-radius:20%;} 
a:link{color:#1f618d;}
a:visited{color:#ba68c8;}
a:hover{color:#e0fa91;background-color:#2b8da9;}
a:active{color:#43a047;}
h1{color:#1f618d; font-family:Broadway;}
h2{color:#2e4053; font-family:copper black;}
h3{color:#154360; font-family:Rockwell;}
p{color:black; font-family:calibri;text-align:left;font-size:20px;}
table{color:orange;border:blue 10px outset;}
table:hover{color:#f8c471;background-color:#7d3c98;}
header:hover{font-size:30px;}
footer{background-color:#1f618d; color:#26c6da; box-shadow:#26c6da 15px 15px 15px; width:80%;
		font-size:30px;text-align:center;font-family:Forte;border-radius:10px 10px 10px 10px;}
aside img{border-radius:10%; }
img{border-radius:10%;}
img:hover{filter:drop-shadow(15px 15px 15px #1f618d);box-shadow:#26c6da  15px 15px 15px;}
section{border:#26c6da 5px solid; padding:25px; width:78%;} /*bordes en la seccion*/
aside{background:url(php.png);position:fixed; width:18%; right:5%; left:81%; top:20px; bottom:20px; 
		background-size:60%;background-repeat:no-repeat;background-position: center;}
aside:hover{background-color:#d6eaf8 ;border:#26c6da 5px solid;color:black;transition:all 1.5s ease-in-out;}		
