body {
    background-color: white;
    width: 960px;
    margin: auto;
  }
  nav{
    font-size: 25px;
    font-family:"Helvetica Neue";
    width: 100%;
    margin-bottom: 10px;
  }
  a{
    text-decoration: none;
    background-color: darkslategrey;
    text-align: center;
    border-radius: 10%;
    
  }
  a:link{
    color: rgb(255, 255, 255);
  }
  a:visited{
    color: black;
  }
  a:hover{
    color: rgb(255, 255, 255);
    background-color: navy;
  }
  a:active{
    color: rgb(251, 255, 0);
  }
  h1 {
    text-align: center;
    font-family: cursive;
    color: beige;
    background-color: darkslategray;
  }
  h1:hover{
    font-size: 90px;
  }
  h2{
    color: beige;
    background-color: darkslategray;
    font-family: cursive;
    font-size: 20px ;
  }
  h2:hover{
    font-size: 40px;
  }
  h1:hover{
    font-size: 90px;
  }
  h3{
    color: beige;
    background-color: darkslategray;
    font-family: cursive;
    font-size: 20px ;
  }
   
  h3:hover{
    font-size: 40px;
  }
  section img{
    width: 300px;
    height: 300px;
  }
  footer{
    color: beige;
    background-color:darkslategray ;
  }
  aside {
    color: azure;
    background-color: darkslategrey;
    text-align: center;
    position: fixed;
    width: 25%;
    right: 0;
    top: 10px;
    bottom: 0;
    background-size: 90%; 
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  aside img{
    width: 300px;
    height: 300px;
    border-radius: 10%;
  }
  
