@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
:root {
  --primary-color: #c7a17a;
  --background-color: #f9f5f0;
  --dark-color: #151515;
}
html {
  font-size: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Utilidades*/
.container {
  max-width: 120rem;
  margin: 0;
  font-family: "Poppins";
}
/*header*/
.container-hero {
  background-color: var(--background-color);
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.customer-support {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.customer-support i {
  font-size: 3.3rem;
}
.content-customer-support {
  flex-direction: column;
  display: flex;
}
.container-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.container-logo i {
  font-size: 6rem;
  background-image: url(CAF.jpg);
  background-clip: text;
  color: transparent;
  background-size: 150% 100%;
}
.container-logo h1 a {
  text-decoration: none;
  color: black;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  background-image: url(CAF.jpg);
  background-clip: text;
  color: transparent;
  background-size: 50% 100%;
}
.container-user {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.container-user .fa-user {
  font-size: 3rem;
  color: var(--primary-color);
  padding-right: 2.5rem;
  border-right: 1px solid #e2e2e2;
}
.container-user .fa-cart-shopping {
  font-size: 3rem;
  color: var(--primary-color);
  padding-left: 1rem;
}
.content-shopping-cart {
  display: flex;
  flex-direction: column;
}
/*nav*/
.conteiner-navbar {
  background-color: var(--primary-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar .fa-bars {
  display: none;
}
.menu {
  display:  flex;
  gap: 2rem;
  margin: 0;
}
.menu li {
  list-style: none;
}
.menu a {
  font-family: "Syne mono";
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--dark-color);
  font-weight: 600;
  text-decoration: uppercase;
  transition: all 0.5s ease;
  position: relative;
}
.menu a::after {
  content:'';
  width: 1.5rem;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: all 0.3s ease;
}
.menu a:hover::after {
  opacity: 1;
}
.menu a:hover {
  color: bisque;
  font-size: 3rem;
  transition: all 0.5s ease;
}
.search-form {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 2rem;
  background-color: #fff;
  height: 4.4rem;
  overflow: hidden;
}
.search-form input {
  outline: none;
  border: none;
  width: 25rem;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: #777;
  cursor: pointer;
}
.search-form input::-webkit-search-cancel-button {
  appearance: none;
}
.search-form .btn-search {
  border: none;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}
.banner {
  background-image: linear-gradient(100deg, #000000, #00000020), url(cafe.jpg);
  height: 50rem;
  background-size: cover;
  background-position: center;
}
.content-banner {
  max-width: 90rem;
  margin: 0 auto;
  padding: 25rem;
}
.content-banner p {
  color: var(--primary-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.content-banner h2 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Limelight";
}
.content-banner a {
  margin-top: 2rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 3rem;
  font-size: 1.5rem;
  transition: all 0.4s ease;
}
.content-banner a:hover {
  font-size: 3rem;
  background-color: tan;
  transition: all 0.5s ease;
}
/*main content*/
.main-content{
    background-color: var(--background-color);
}
/*caracteristicas*/
.container-features{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 2rem ;
    transition: all 0.3s ease;
}
.card-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    transition: all 0.5s ease; 
    transform:  translateY(20px) scale(1);
}

.card-feature:hover {
    transform: scale(1.1);
    box-shadow: #777 0px 5px 30px 10px;
    cursor: pointer;
}
.card-feature i{
    font-size: 2.7rem;
    color: var(--primary-color);
    transition: all 0.3s ease;
}
.feature-content{
     display: flex;
     flex-direction: column;
     gap: 0.5rem;  
}
.feature-content span{
          font-weight: 700;
          font-size: 1.2rem;
          color: var(--dark-color);
}
.feature-content p{
        color: #777;
        font-weight: 500;
}
/*categorias*/
.top-categories{
    display: flex;
    flex-direction: column;
    page: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}
.container-categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;     
    gap: 3rem;
}
.card-category {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  border-radius: 2rem;
  gap: 2rem;
  color: #fff;
  text-align: center;
  
}
/*titulo mov
.heading-1{
  font-size: 34px;
  font-family: 'Sedan SC';
  font-weight: 600;
  min-width: 280px;
}
.heading-1 span{
  position: relative;
}
.heading-1 span::before{
  content: 'Categorias';
  color:black;
  animation: words 20s infinite;
}
.heading-1 span::after{
  content: '';
  background-color:#f9f5f0;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 2px solid var(--primary-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(10);
}
@keyframes cursor{
   to{
    border-left: 2px solid black;
   }
}
@keyframes words{
  0%, 40%{
    content: 'secciones';
  }
  21%, 40%{
    content: 'Categorias';
  }
  41%, 60%{
    content: 'Cafés';
  }
  61%, 80%{
    content: 'Favoritos de todos';
  }
  81%, 100%{
    content: 'Especialidades';
  }
}
@keyframes typing{
   10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
    width: 0;
   }
   5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
    width: calc(100% + 8px);
   }
}*/
.category-mocha{
    font-family: 'Limelight';
    background-image: linear-gradient(#00000060,#00000040), url(moca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.category-expreso{
    font-family: 'Limelight';
    background-image: linear-gradient(#00000060,#00000040), url(ex.jpg);
    background-repeat: no-repeat;
    background-position: center;

}
.category-capucino{
    font-family: 'Limelight';
    background-image: linear-gradient(#00000060,#00000040), url(capu.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.card-category p{
  font-size: 2.5rem;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  transition: all 0.3s ease;
}
.card-category p::after{
    content:'';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left:50%;
}
.card-category p:hover{
  font-size: 3rem;
  transition: all 0.5s ease;
}
.card-category a{
  font-size: 1.6rem ;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}
.card-category a:hover{
  color: var(--primary-color);
  transition: all 0.3s ease;
  font-size: 2rem;
}
.card-category p:hover::after {
  opacity: 1;
}









