@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Sancreek&family=Vollkorn+SC:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color1--: #fff;
  --color2--: #fefdf9;
  --color3--: #f8f9fa;
  --color4--: #f5f3f4;
  --color5--: #dee2e6;
  --color6--: #bfc0c0;
  --color7--: #000000;
  --color8--: #f4f4f4;
  --color10--: #;
  --color11--: #;
  --color12--: #;

  --lETRA-1--: "Poppins";
  --lETRA-2--: "Amatic SC";
  --lETRA-3--: "Alumni Sans Pinstripe";
  --lETRA-4--: "Bodoni Moda";
  --lETRA-5--: "Cormorant";
  --lETRA-8--: "Pompiere";
  --LETRA-9--: "Sour Gummy";
}
.form-container{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.container-form{
  margin: 20px;
  text-align: center;
}
.load-review{
  background-color: #f8f9fa;
  padding: 10px;
  height: 500px;
  width: 550px;
}
.load-review input, textarea{
  font-family: var(--lETRA-1--);
  border-radius: 5px;
  padding: 10px;
  width: 50%;
}
.load-review textarea{
  height: 140px;
  font-family: var(--lETRA-1--);
  font-size: 15px;
}
.load-review span{
  font-family: var(--lETRA-4--);
  font-size: 20px;
}
.load-review button{
  padding: 10px ;
  width: 20%;
  border-radius: 5px;
}
button{
  text-align: center;
  align-items: center;
  width: 100px;
  padding: 10px;
}
button:hover{
  color: #fff;
  box-shadow: inset 0 -100px 0 0 #725ac1;
}
button:active{
  transform: scale(0.9);
}