@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap");
:root {
  --primary-color: #c7a17a;
  --background-color: #f9f5f0;
  --dark-color: #151515;
}
body {
  background-color: #f9f5f0;
}
div{
    border: double black;
}
.box{
   display:flex;
   justify-content: space-evenly;
}
div div{
    border: gray solid;
    margin: 15px;
    font-size: 20px;
}






































/*
aside {
  flex: 1;
  margin-left: 20px;
  padding: 20px;
  background: linear-gradient(135deg, #ff9966, #ff5e62);
  color: white;
  border-radius: 8px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}
.oferta-titulo {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.articulo-oferta {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.articulo-oferta:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
}
*/
