
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff6600;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff8800;
    padding: 10px 20px;
}

.logo-titulo {
    display: flex;
    align-items: center;
  }
  
  .logo-titulo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .logo-titulo h2 {
    color: white;
    margin: 0;
  }

  .inicio {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

nav img {
    width: 50px;
    margin-right: auto;
}

section {
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ff6600;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 50%;
    padding: 20px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #ddd;
    background-color: #fff;
}

td img {
    width: 150px;
    border-radius: 10px;
}

h4 {
    color: #ff6600;
    margin: 10px 0;
}

p {
    font-size: 14px;
    text-align: justify;
}

td:hover {
    background-color: #ffeee0;
    transition: 0.3s;
}
