@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap");
/* Letras */
/* Colores */
@keyframes intro {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes intro2 {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes intro3 {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------------Header------------------- */
body {
  font-family: "Poppins";
  background-color: #fefdf9;
  color: #000;
}

header {
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: intro 0.7s ease-in-out;
}

header .logo {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo img {
  width: 15rem;
}

header .nav-menu {
  padding: 25px;
  display: flex;
  align-items: center;
}

header .nav-menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}

header .nav-menu ul a {
  font-family: "Poppins";
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

header .nav-menu ul a:hover {
  color: #bfc0c0;
  transition: all 0.3s ease 0s;
}

header .user-container {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

header .user-container button {
  font-family: "Poppins";
  font-size: 13px;
  border-radius: 20px;
  padding: 10px;
  border: none;
  transition: all 0.3s ease 0s;
}

header .user-container button:hover {
  /* background-color: rgba(0, 136, 169, 0.8); */
  background-color: #dee2e6;
  color: #000;
  transition: all 0.3s ease 0s;
}

header .user-container .redes {
  padding: 10px;
}

header .user-container .redes ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

header .user-container .redes ul li a {
  color: inherit;
  text-decoration: none;
}

header .user-container .redes ul li a i {
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

header .user-container .redes ul li a i:hover {
  color: #bfc0c0;
  transition: all 0.3s ease 0s;
}

/* -----------------------Services------------------- */
.services {
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-align: center;
}

.services .service-container {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.services .service-container .service-item {
  width: 300px;
  height: 400px;
  padding: 10px;
  background: #000;
  border-radius: 10px;
  color: #fff;
}

.services .service-container .service-item img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.services .service-container .service-item div {
  padding: 5px;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.services .service-container .service-item p {
  font-size: 13px;
}

/* -----------------------Products------------------- */
.productos {
  margin: auto;
  padding: 50px 0;
  width: 60%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productos .contenedorProductosIndividual {
  padding: 1rem;
  margin: 1rem;
  background-color: #bfc0c0;
  height: auto;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productos .contenedorProductosIndividual img {
  width: 12rem;
  height: 12rem;
}

.productos .contenedorProductosIndividual div {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.productos .contenedorProductosIndividual div h3 {
  font-size: 1.5remrem;
  margin-bottom: 10px;
}

.productos .contenedorProductosIndividual button {
  font-family: "Poppins";
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.productos .contenedorProductosIndividual button:hover {
  background-color: #dee2e6;
  color: #000;
  transition: all 0.3s ease 0s;
}

.LoadMoreButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.LoadMoreButtons .btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  font-family: "Poppins";
  transition: all 0.3s ease 0s;
}

.LoadMoreButtons .btn:hover {
  background-color: #dee2e6;
  color: #000;
  transition: all 0.3s ease 0s;
}

/* -----------------------Footer------------------- */
footer {
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: "Poppins";
  animation: intro2 0.7s ease-in-out;
}

footer .f-container {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer h6 {
  font-family: "Bodoni Moda";
  font-size: 20px;
  margin-bottom: 10px;
}

footer .lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

footer .lists li {
  list-style: none;
}

footer .lists li a {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

footer .lists li a:hover {
  color: #bfc0c0;
  transition: all 0.3s ease 0s;
}

footer .footer-email {
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  font-family: "Poppins";
}

footer .footer-button {
  padding: 10px 20px;
  border-radius: 50px;
  font-family: "Poppins";
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

footer .footer-button:hover {
  background-color: #dee2e6;
  color: #000;
  transition: all 0.3s ease 0s;
}

footer .Social ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1.5rem;
}

footer .Social ul li {
  list-style: none;
}

footer .Social i {
  color: #fff;
} /*# sourceMappingURL=Carrito.css.map */