@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap");
/* Letras */
$Letra-1: "Bodoni Moda";
$Letra-2: "Poppins";
$Letra-3: "Sour Gummy";
$Letra-4: "Aboreto";
$Letra-5: "Bellefair";
$Letra-6: "Nova Cut";
/* Colores */
$color-1: #fff;
$color-2: #fefdf9;
$color-3: #f8f9fa;
$color-4: #dee2e6;
$color-5: #bfc0c0;
$color-6: #fafafa;
$color-7: #000;
$color-8: #751006;
$color-9: #670d0b;
$color-10: #580b0f;
$color-11: #4a0814;
$color-12: #3c0518;

@keyframes intro{
    from{
        opacity: 0;
        transform: translateY(-50px);
    } 
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes intro2{
    from{
        opacity: 0;
        transform: translateY(50px);
    } 
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes intro3{
    from{
        opacity: 0;
        transform: scale(0);
    } 
    to{
        opacity: 1;
        transform: scale(1);
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -----------------------Header------------------- */
body {
    font-family: $Letra-2;
    background-color: $color-2;
    color: #000;
}

header {
    background-color: $color-7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    animation: intro 0.7s ease-in-out;
    .logo {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 15rem;
        }
    }
    .nav-menu {
        padding: 25px;
        display: flex;
        align-items: center;
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            gap: 20px;
            a {
                font-family: $Letra-2;
                color: $color-1;
                text-decoration: none;
                transition: all 0.3s ease 0s;
                &:hover{
                    color: $color-5;
                    transition: all 0.3s ease 0s;
                }
            }
        }
    }
    .user-container {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        button {
            font-family: $Letra-2;
            font-size: 13px;
            border-radius: 20px;
            padding: 10px;
            border: none;
            transition: all 0.3s ease 0s;
            &:hover {
                /* background-color: rgba(0, 136, 169, 0.8); */
                background-color: #dee2e6;
                color: $color-7;
                transition: all 0.3s ease 0s;
            }
        }
        .redes {
            padding: 10px;
            ul {
                display: flex;
                gap: 15px;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    a {
                        color: inherit;
                        text-decoration: none;

                        i {
                            color: $color-1;
                            font-size: 1.2rem;
                            transition: color 0.3s ease;

                            &:hover {
                                color: $color-5;
                                transition: all 0.3s ease 0s;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* -----------------------Services------------------- */
.services{
    justify-content: center;
    align-items: center;
            margin: 10px auto;
    text-align: center;
    .service-container{
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .service-item{
            width: 300px;
            height: 400px;
            padding: 10px;
            background: #000;
            border-radius: 10px;
            color: $color-1;
            img{
                width: 100%;
                height: 150px;
                object-fit: cover;
                padding: 10px;
                border-radius: 10px;
                margin-bottom: 15px;
            }
            div{
                padding: 5px;
                font-size: 1.7rem;
                margin-bottom: 10px;
            }
            p{
                font-size: 13px;
            }
        }
    }
}
/* -----------------------Products------------------- */
.productos{
    margin: auto;
    padding: 50px 0;
    width: 60%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .contenedorProductosIndividual{
        padding: 1rem;
        margin: 1rem;
        background-color: #bfc0c0;
        height: auto;
        width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 12rem;
            height: 12rem;
        }

        div{
            padding: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;

            h3{
                font-size: 1.5remrem;
                margin-bottom: 10px;
            }
        }
        button{
            font-family: $Letra-2;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: $color-1;
            color: $color-7;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            &:hover {
                background-color: $color-4;
                color: $color-7;
                transition: all 0.3s ease 0s;
            }
        }


    }
}

.LoadMoreButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .btn{
        padding: 10px 20px;
        border-radius: 5px;
        background-color: $colorThree;
        color: $color-7;
        border: none;
        cursor: pointer;
        font-family: $Letra-2;
        transition: all 0.3s ease 0s;
        &:hover {
            background-color: $color-4;
            color: $color-7;
            transition: all 0.3s ease 0s;
        }
    }
}

/* -----------------------Footer------------------- */
footer{
    margin-top: 10px;
    background-color: $color-7;
    color: $color-1;
    text-align: center;
    padding: 20px;
    font-family: $Letra-2;
    animation: intro2 0.7s ease-in-out;
    .f-container{
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h6{
        font-family: $Letra-1;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .lists{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        li{
            list-style: none;
            a{
                color: $color-1;
                text-decoration: none;
                font-family: $Letra-2;
                font-size: 16px;
                transition: all 0.3s ease 0s;
                &:hover{
                    color: $color-5;
                    transition: all 0.3s ease 0s;
                }
            }
        }
    }
    .footer-email{
        padding: 10px;
        border-radius: 50px;
        text-align: center;
        font-family: $Letra-2;
    }
    .footer-button{
        padding: 10px 20px;
        border-radius: 50px;
        font-family: $Letra-2;
        background-color: $color-1;
        color: $color-7;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
            background-color: $color-4;
            color: $color-7;
            transition: all 0.3s ease 0s;
        }
    }
    .Social{
        ul{
            display: flex;
            justify-content: center;
            gap: 10px;
            font-size: 1.5rem;
            li{
                list-style: none;
            }
        }
        i{
            color: $color-1;
        }
    }
}

