body {
    background-color: white;
    width: 960px;
    margin: auto;
  }
  nav{
    font-size: 25px;
    font-family:"Helvetica Neue";
    width: 100%;
    margin-bottom: 10px;
  }
  a{
    text-decoration: none;
    background-color: darkslategrey;
    text-align: center;
    box-shadow: rgb(255, 255, 255) 10px 10px 10px;
    border-radius: 10%;
    
  }
  a:link{
    color: rgb(255, 255, 255);
  }
  a:visited{
    color: rgb(255, 255, 255);
  }
  a:hover{
    color: rgb(255, 255, 255);
    background-color: navy;
  }
  a:active{
    color: rgb(251, 255, 0);
  }
  h1 {
    text-align: center;
    font-family: cursive;
    color: beige;
    background-color: darkslategray;
  }
  h1:hover{
    font-size: 90px;
  }
  h2{
    color: beige;
    background-color: darkslategray;
    font-family: cursive;
    font-size: 20px ;
  }
  h2:hover{
    font-size: 40px;
  }
  h1:hover{
    font-size: 90px;
  }
  h3{
    color: beige;
    background-color: darkslategray;
    font-family: cursive;
    font-size: 20px ;
  }
   
  h3:hover{
    font-size: 40px;
  }
  section img{
    width: 300px;
    height: 300px;
  }
  footer{
    color: beige;
    background-color:darkslategray ;
  }
  aside {
    color: azure;
    background-color: darkslategrey;
    text-align: center;
    position: fixed;
    width: 25%;
    right: 0;
    top: 10px;
    bottom: 0;
    background-size: 90%; 
    background-repeat: no-repeat;
    background-position: center;
    overflow: scroll;
    overflow-x: hidden;
  }
  aside img{
    width: 300px;
    height: 300px;
    border-radius: 10%;
  }
  
  /*Básicamente, mi objetivo fue crear una página web que sea informativa, visualmente atractiva y  además de evocar nostalgia y destacar una época crucial en la tecnología .Quería llevar a las personas a un viaje al pasado y mostrar la importancia de dispositivos innovadores 
Básicamente, mi objetivo fue crear una página web que sea informativa, visualmente atractiva y evoque un sentido de aprecio por la historia de los teléfonos móviles y las características innovadoras ".
Opté por un diseño limpio y sencillo colores de inspiración retro sin resultar anticuada para centrarme en la información y los teléfonos destacados La barra lateral, con teléfonos más recientes como lo es Samsung y Apple
Al principio cuando agrege mi aside no podía sobir o bajar para ver las demás marcas de celulares modernas entonces que había colocado hice una pequeña investigación de como podría solucionar eso y me tope con la etiqueta overflow: scroll; que prácticamente añade un deslizamiento para subir o bajar 
/*
