body {
    background-color: white;
    width: 50%;
    margin: auto;
  }
  nav{
    font-size: 25px;
    font-family:"Helvetica Neue";
    width: 73%;
    margin-bottom: 10px;
  }
  h1 {
    text-align: center;
    font-family: cursive;
  }
  a{
    text-decoration: none;
    background-color: darkslategrey;
    text-align: center;
    box-shadow: rgb(255, 255, 255) 10px 10px 10px;
    border-radius: 5%; 
  }
  a:link{
    color: rgb(255, 255, 255);
  }
  a:visited{
    color: azure;
  }
  a:hover{
    color: darkcyan;
    background-color: navy;
  }
  a:active{
    color: navajowhite;
    }
  img {
    width: 100px;
    height: 100px;
  }

  h2{
    color: beige;
    background-color: darkslategray;
    font-family: cursive;
    font-size: 20px ;
  }

  table.Productos{
        color: rgb(255, 255, 255);
        border: darkcyan 30px outset;
        background-color: darkslategrey;
  }
  footer{
    color: beige;
    background-color:darkslategray ;
  }
  aside {
    background: url(ofertass.jpg);
    position: fixed;
    width: 20%;
    right: 0;
    top: 10px;
    bottom: 0;
    background-size: 80%; 
    background-repeat: no-repeat;
    background-position: center;
  }