@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap");
/* Letras */
:root{
  --Letra-1: "Bodoni Moda";
  --Letra-2: "Poppins";
  --Letra-3: "Sour Gummy";
  --Letra-4: "Aboreto";
  --Letra-5: "Bellefair";
  --Letra-6: "Nova Cut";
}
/* -------------Mixins------------------ */
/* -------------Keyframes------------------ */
@keyframes fade {
  0% { opacity: 0; }
  12.5% { opacity: 1; }   
  25% { opacity: 0; }
  100% { opacity: 0; }
}
/* -------------body------------------ */
body{
    margin: 0;
    padding: 0;
    font-family: var(--Letra-2);
    background: #f4f4f4;
    color: #333;
}
/* -------------Header------------------ */
header{
    background: #000;
    color: #fff;
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--Letra-2);
        font-size: 14px;
        .social{
            gap: 10px;
            ul{
                display: flex;
                list-style: none;
                gap: 10px;
                li{
                    display: inline-block;
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-size: 25px;
                        &:hover{
                            color: #cecece;
                        }
                    }
                }
            }
            a{
                color: #fff;
                text-decoration: none;
                &:hover{
                    color: #cecece;
                }
            }
        }
        .user{
            ul{
                display: flex;
                list-style: none;
                gap: 10px;
                li{
                    display: inline-block;
                    a{
                        font-size: 30px;
                        color: #fff;
                        text-decoration: none;
                        &:hover{
                            color: #cecece;
                        }
                    }
                }
            }
            a{
                color: #fff;
                text-decoration: none;
                &:hover{
                    color: #cecece;
                }
            }
        }
    }
    .down{
        display: flex; 
        justify-content: center;
        padding: 20px 0;
        .menu ul{
            list-style: none;
            display: flex;
            gap: 20px;
            justify-content: center;
            text-align: center;
            a{
                font-family: var(--Letra-2);
                text-decoration: none;
                color: #fff;
                &:hover{
                    color: #cecece;
                }
            }
        }
    } 
}  
/* -------------Carrusel------------------ */
.Banner{
    background-color: #000;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .item{
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        top: 0;
        opacity: 0;
        animation: fade 24s infinite;
    }
    .img1{
        background-image: url(imgs/Carrusel.png);
        animation-delay: 0s;
        opacity: 1;
    }
    .img2{
        background-image: url(imgs/Carrusel2.png);
        animation-delay: 6s; 
    }
    .img3{
        background-image: url(imgs/Carrusel3.png);
        animation-delay: 12s; 
    }
    .img4{
        background-image: url(imgs/Carrusel4.png);
        animation-delay: 18s;
    }
}
/* -------------Main----------------- */
/* -----------Titulo-------------------- */
.Titulo{
    font-family: var(--Letra-2);
    font-size: 3rem;
    text-align: center;
}
.Titulo-p{
    font-family: var(--Letra-3);
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    color: #555;
}
/* -------------Cursos------------------ */
.Cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 25px;
    .Curso{
    background-color: #f2f2f2;
    padding: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    h3{
        font-family: var(--Letra-1);
        font-size: 1.5rem;
        margin: 10px 0;
    }
    p{
        font-family: var(--Letra-2);
        font-size: 1rem;
        color: #666;
    }
    .Precio{
        font-family: var(--Letra-2);
        font-size: 1.2rem;
        color: #000;
        margin: 10px 0;
    }
    button{
        color: #fff;
        background: #000;
        border-radius: 10px;
        padding: 10px 20px;
        border: none;
        transition: all 0.6s ease;
        &:hover{
            transition: all 0.6s ease;
            background: #fff;
            color: #000;
            border: #000 1px solid;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }
}
}
/* -------------Footer---------------- */
