*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    color: Black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --color1: #0D1B2A;
    --color2: #1B263B;
    --color3: #415A77;
    --colorTexto: #778DA9;
    --color5: #E0E1DD;
}

header{
    background: #1B263B ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    width: auto;
}

nav{
    width: 50%;
    padding: 1rem;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%; 
    font-size: 1.5rem;
}

a:hover{
    color: #fff;
}

a{
    text-decoration: none;
    color: antiquewhite;
}


.logo{
    width: 150px;
    height: auto;
}

main{
    margin: auto;
    width: 60%;
}

h2{
    margin: auto;
    text-align: center;
    margin-top: 3.5rem;
    border-bottom: solid 2px var(--colorTexto) ;
}

.marca{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.auto{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    border: solid 2px #E0E1DD;
    border-radius: 20px;
    margin-top: 2rem;
}

.imagen{
    height: 20rem;
    width: auto;
    border-radius: 20px;
}

.marcaname, .modelo, .color, .precio{
    padding: 0.2rem;
    margin: 0.2rem 0;
    width: 100%;
    align-content: center;
    text-align: center;
    background: var(--colorTexto);
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
}

.marcaname:hover, .modelo:hover, .color:hover, .precio:hover{
    background: #778da9d2;
}