@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Sancreek&family=Vollkorn+SC:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #e0e1dd;
  color: Black;
  display: flex;
  flex-direction: column;
}

:root {
  --color1: #0d1b2a;
  --color2: #1b263b;
  --color3: #415a77;
  --colorTexto: #778da9;
  --color5: #e0e1dd;
}

header {
  background: #1b263b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  width: auto;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    font-size: 19px;
  }
.enlaces li{
    list-style: none;
    margin-left: 20px;
}
.enlaces a{
    list-style: none;
    color: #e0e1dd;
    text-decoration: none;
    opacity: 0.75;
    transition:  all 0.6s ease;
}
.enlaces a:hover{
    color: #fff;
    opacity: 1;
    transition:  all 0.6s ease;
}
.fa-brands {
  font-size: 200%;
  color: #e0e1dd;
  justify-content: space-between;
  transition: all 0.6s ease;
  text-decoration: none;
}
.fa-brands:hover {
  font-size: 250%;
}
.logo{
  width: 8%;
}
 .main-container{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 20%;
 }
 .text{
    color: #415a77;
    font-family: "Bodoni Moda";
    font-size: 300%;
    text-align: center;
    margin-right:40% ;
 }
 hr{
    color: #1b263b;
 }
 h3{
    margin-top: 5%;
    color: #415a77;
    opacity: 0.80;
    transition: all 0.6s ease;
    margin-left: 25%;
 }
h3:hover{
    color: #415a77;
    opacity: 1;
    transition: all 0.6s ease;
}
table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background-color: #ddd;
    margin-top: 5%;
}
th, td{
    padding: 10px;
}
thead{
    background-color: #415a77;
    color: #e0e1dd;
    border-bottom: #1b263b solid 5px;
}
tr:nth-child(even){
    background-color: #fff;
}
tr:hover td{
    background-color: #adb5bd;
}
.bancos{
    margin-left: 10%;
    margin-right: 32%;
}
.titulo2{
    font-size: 400%;
    text-align: center;
    margin-top: 5%;
    color: #778da9;
    transition: all 0.6s ease;
}
.titulo2:hover{
    transition: all 0.6s ease;
    color: #415a77;
}
.ibancos{
    display: flex;
    margin-top: 5%;
}
.ibancos img{
  transition: all 0.6s ease;
}
.ibancos img:hover{
  transition: all 0.6s ease;
  transform: scale(1.5);
}
.alianza1{
    width: 20%;
    height: 100%;
    margin-right: 5%;
}
.alianza2{
    width: 12%;
    height: 100%;
    margin-right: 5%;
}
.alianza3{
    width: 25%;
    height: 10%;
    margin-right: 5%;
}
.alianza4{
    width: 30%;
    height: 10%;
    margin-right: 5%;
}
footer {
    margin-top: 5% ;
    background: var(--color3);
    padding: 20px 50px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
  }
  .icons {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
  }
  .icon-elem {
    list-style: none;
  }
  .icon {
    color: #e0e1dd;
    font-size: 100%;
    display: inline-block;
    margin: 0 10px;
    transition: all 0.6s ease;
    opacity: 0.7;
  }
  .icon:hover {
    color: #fff;
    transition: all 0.6s ease;
    opacity: 1;
  }
  .menu-f {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    margin: 10px;
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    opacity: 0.75;
    transition: all 0.6s ease;
    color: #e0e1dd;
  }
  .menu-icon:hover {
    opacity: 1;
    transition: all 0.6s ease;
    color: #fff;
  }